<div class="btn-toolbar justify-content-end">
    <div class="btn-group mr-2" (click)="go($event)">
        <button data-type="1" data-number="-1" type="button" class="btn btn-secondary" [ngClass]="{'display': !page.pageIndex}">上一页</button>
        <button data-type="2" [attr.data-number]="p.number" *ngFor="let p of pageList" type="button" [ngClass]="{'select':p.number == page.pageIndex,'display': !p.type}" class="btn btn-secondary btn-page p-0">{{p.type ? p.number : p.text}}</button>
        <button data-type="3" data-number="1" type="button" class="btn btn-secondary" [ngClass]="{'display': page.pageIndex == page.totalPage}">下一页</button>
    </div>
    <div class="input-group">
        <span class="input-group-addon" #goBtn (click)="go($event,goIn)" data-type="4" [attr.data-number]="goNum">跳转到</span>
        <input type="text" class="form-control page-input" #goIn (keypress)="$event.keyCode == 13 && goBtn.click();$event.value" [(ngModel)]="goNum">
    </div>
</div>
