<div class="search">
    <input type="search">
</div>
<article>
    <div class="list">
        <div class="item">
            <div class="item-bottom">
                <img src="assets/img/a.jpg">
            </div>
        </div>
        <div class="item">
            <div class="item-bottom">
                <img src="assets/img/b.jpg">
            </div>
        </div>
        <div class="item">
            <div class="item-bottom">
                <img src="assets/img/c.jpg">
            </div>
        </div>
    </div>
    <div class="list">
        <div class="item">
            <div class="item-bottom">
                <img src="assets/img/a.jpg">
            </div>
        </div>
        <div class="item">
            <div class="item-bottom">
                <img src="assets/img/b.jpg">
            </div>
        </div>
        <div class="item">
            <div class="item-bottom">
                <img src="assets/img/c.jpg">
            </div>
        </div>
    </div>
    <div class="list">
        <div class="item">
            <div class="item-bottom">
                <img src="assets/img/a.jpg">
            </div>
        </div>
        <div class="item">
            <div class="item-bottom">
                <img src="assets/img/b.jpg">
            </div>
        </div>
        <div class="item">
            <div class="item-bottom">
                <img src="assets/img/c.jpg">
            </div>
        </div>
    </div>
</article>
