<style>
    .header{
        height: 3.5rem;
        width: 100%;
        display: flex;
        line-height: 3.5rem;
        background-color: #f5f8fa;
    }
    .link-item{
        flex: 1;
        text-align: center;
    }
    .link-item i{
        font-size: 26px;
        opacity: 0.6;
    }
</style>
<div class="header">
    <a class="link-item">
        <i class="icon">&#xe600;</i>
    </a>
    <a class="link-item">
        <i class="icon">&#xe600;</i>
    </a>
    <a class="link-item">
        <i class="icon">&#xe600;</i>
    </a>
    <a class="link-item">
        <i class="icon">&#xe600;</i>
    </a>
    <a class="link-item">
        <i class="icon">&#xe600;</i>
    </a>
</div>
