<style>
    .header{
        height: 3.5rem;
        width: 100%;
        display: flex;
        line-height: 3.5rem;
        background-color: #f5f8fa;
    }
    .link-item{
        flex: 1;
        text-align: center;
    }
    .link-item i{
        font-size: 26px;
        opacity: 0.6;
    }
</style>
<div class="header">
    <div class="link-item" routerLink="/index">
        <i class="icon">&#xe600;</i>
    </div>
    <div class="link-item" routerLink="/explore">
        <i class="icon">&#xe600;</i>
    </div>
    <div class="link-item" routerLink="/search">
        <i class="icon">&#xe600;</i>
    </div>
    <div class="link-item" routerLink="/accounts">
        <i class="icon">&#xe600;</i>
    </div>
    <div class="link-item" routerLink="/personal">
        <i class="icon">&#xe600;</i>
    </div>
</div>
