<div class="navigation">
    <div class="header-box"></div>
    <div class="header">
        <div class="link-item" routerLink="/index">
            <i class="icon">&#xe600;</i>
        </div>
        <div class="link-item" routerLink="/explore">
            <i class="icon">&#xe600;</i>
        </div>
        <div class="link-item" routerLink="/search">
            <i class="icon">&#xe600;</i>
        </div>
        <div class="link-item" routerLink="/accounts">
            <i class="icon">&#xe600;</i>
        </div>
        <div class="link-item" routerLink="/personal">
            <i class="icon">&#xe600;</i>
        </div>
    </div>
</div>

