<div class="card">
    <img class="card-img-top" [src]>
    <div class="card-block">
        <h4 class="card-title">{{line.title}}</h4>
        <p class="card-text">{{line.introduce}}</p>
        <a class="badge badge-pill" [ngClass]="{'badge-default':!line.isPraised,'badge-success':line.isPraised}">点&nbsp;赞 {{line.praised}}</a>
        <a class="badge badge-pill badge-primary">评&nbsp;论 {{line.review}}</a>
        <a class="badge badge-pill" [ngClass]="{'badge-default':!line.isForward,'badge-success':line.isForward}">分&nbsp;享 {{line.forward}}</a>
        <a class="badge badge-pill" data-toggle="modal" data-target="#line_forward">分&nbsp;享</a>
    </div>
</div>

<form #addBranchForm="ngForm" (submit)="branchSubmit()">
    <div class="form-group row">
        <label class="col-2 col-form-label">标题：</label>
        <div class="col-10">
            <input class="form-control" type="text" placeholder="标题" [(ngModel)]="branch.title" name="title">
        </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">描述：</label>
        <div class="col-10">
            <textarea class="form-control" placeholder="描述" [(ngModel)]="branch.introduce" name="introduce"></textarea>
        </div>
    </div>

    <form #urlForm="ngForm">
        <div class="form-group row">
            <label class="col-2 col-form-label">图片：</label>
            <div class="col-10">
                <button type="button" class="btn btn-secondary" (click)=" fileUrl.click() ">上&emsp;传</button>
                <div class="tmpUrlList">
                    <div class="tmp-item" *ngFor="let url of tmpUrlList">
                        <img width="40" [src]="url">
                    </div>
                </div>
                <input hide class="form-control" type="file" multiple placeholder="图片" [(ngModel)]="branch.urls" name="urls" #fileUrl (change)="upload(fileUrl);urlForm.reset()">
            </div>
        </div>
    </form>

    <button type="submit" class="btn btn-primary">提&emsp;交</button>
</form>

<div class="card" *ngFor="let branch of branchList">
    <div class="card-image">
        <div class="img-item" *ngFor="let url of branch.urls">
            <img width="200" [src]="url">
        </div>
    </div>
    <div class="card-block">
        <h4 class="card-title">{{branch.title}}</h4>
        <p class="card-text">{{branch.introduce}}</p>
        <a class="badge badge-pill" [ngClass]="{'badge-default':!branch.isPraised,'badge-success':branch.isPraised}" (click)="addPraised(branch)">点&nbsp;赞 {{branch.praised}}</a>
        <a class="badge badge-pill badge-primary" data-toggle="modal" data-target="#branch_comment" (click)="_branch = branch">评&nbsp;论 {{branch.review}}</a>
        <a *ngIf="branch.review != 0" class="badge badge-pill badge-primary" (click)="getCommentList(branch)">查看评论</a>
    </div>

    <ul class="list-group">
        <li *ngFor="let comment of branch.comments;index as i" class="list-group-item justify-content-between">
            <div class="col-3">
                <img width="60" height="60" [src]="comment.user.url" class="img-thumbnail">
                <p>
                    <span>{{comment.user.nickName}}</span>
                    <span>{{comment.user.user}}</span>
                </p>
                <p>
                    <span>{{comment.createDate | date:"yyyy-MM-dd"}}</span>
                    <span>{{comment.createDate | date:"HH:mm:ss"}}</span>
                </p>
            </div>
            <div class="col-6">
                {{comment.context}}
            </div>
            <div class="col-3">
                <a class="badge badge-pill" [ngClass]="{'badge-default':!comment.isPraised,'badge-success':comment.isPraised}" (click)="addPraisedComment(comment)">点&nbsp;赞 {{comment.praised}}</a>
                <a class="badge badge-pill badge-primary" data-toggle="modal" data-target="#line_reply" (click)="userToId = comment.userId; commentId = comment.id">回&nbsp;复{{comment.review}}</a>
            </div>
        </li>
    </ul>

</div>


<div class="modal fade" id="branch_comment" tabindex="-1" role="dialog" aria-labelledby="line_forward_title" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="line_forward_title">评论</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <label class="col-2 col-form-label">内容</label>
                    <div class="col-10">
                        <textarea name="context" [(ngModel)]="context" class="form-control"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="publicReview()">确认</button>
            </div>
        </div>
    </div>
</div>
