<div class="container-fluid h-100">


    <div class="row h-50">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>#</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Username</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th>1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                </tr>
                <tr>
                    <th>2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                </tr>
                <tr>
                    <th>3</th>
                    <td>Larry the Bird</td>
                    <td>@twitter</td>
                    <td>@fat</td>
                </tr>
                </tbody>
            </table>
            <app-paging [(ngModel)]="page" (goPage)="go()"><i>1</i></app-paging>

            totalPage:<input class="form-control" type="text" [(ngModel)]="page.totalPage">
            pageIndex:<input class="form-control" type="text" [(ngModel)]="page.pageIndex">

        </div>
        <div class="col-lg-3">
            <h3>123</h3>

            <button type="button" class="btn btn-primary" (click)="modal.show()">
                show
            </button>

            <a appPopovers [p-placement]="'right'" [p-hover]="'hover'" [p-focus]="'focus'" [p-title]="'标题'" [p-content]="'你好呀！！！！！！！！！！！'" tabindex="-1" id="blur" class="btn btn-primary">blur</a>

            <app-modal [modal]="modal4">
                123123123
            </app-modal>

            <app-modal [modal]="modal3">
                <button type="button" class="btn btn-primary" (click)="modal4.trigger()">
                    trigger4
                </button>
            </app-modal>

            <app-modal [modal]="modal2">
                <button type="button" class="btn btn-primary" (click)="modal3.trigger()">
                    trigger3
                </button>
            </app-modal>


            <app-modal [modal]="modal1">
                <button type="button" class="btn btn-primary" (click)="modal2.trigger()">
                    trigger2
                </button>
            </app-modal>

            <app-modal [modal]="modal">
                <button type="button" class="btn btn-primary" (click)="modal1.trigger()">
                    trigger1
                </button>
            </app-modal>
        </div>
    </div>
</div>
