<div class="container-fluid h-100">


    <div class="row h-50">
        <div class="col-lg-3">

            <div id="asd" style="position: absolute;top: 12px;line-height: 1rem"></div>

            <ngm-datepicker [(ngModel)]="model7"></ngm-datepicker>

            <ngb-datepicker [(ngModel)]="model7"></ngb-datepicker>
            <!--<ngm-datepicker [(ngModel)]="model7" (navigate)="navigate($event)"></ngm-datepicker>-->
            <!--<input type="text" ngmDatepicker #d="ngmDatepicker" class="form-control" name="datepicker" [(ngModel)]="model" (focus)="d.toggle()" >-->

            {{model7 | json}}
        </div>
        <div class="col-lg-6">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>#</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Username</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th>1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                </tr>
                <tr>
                    <th>2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                </tr>
                <tr>
                    <th>3</th>
                    <td>Larry the Bird</td>
                    <td>@twitter</td>
                    <td>@fat</td>
                </tr>
                </tbody>
            </table>
            <ngm-paging [(ngModel)]="page" (goPage)="go()"><i>1</i></ngm-paging>

            totalPage:<input class="form-control" type="text" [(ngModel)]="page.totalPage">
            pageIndex:<input class="form-control" type="text" [(ngModel)]="page.pageIndex">

        </div>
        <div class="col-lg-3">

            <input type="search" placeholder="search" (search)="search($event)">

            <button class="btn btn-outline-danger" ngmAlert #pp="ngmAlert" (click)="pp.open()" [a-content]="'123123123'" [a-type]="'success'">alter</button>
            <span (click)="pp.close()">close</span>

            <button type="button" class="btn btn-primary" (click)="modal.show()">
                show
            </button>

            <a ngmPopovers #p="ngmPopovers" [p-placement]="'top'" [p-hover]="'hover'" [p-focus]="'focus'" [p-title]="'标题'" [p-content]="'你好呀！！！！！！！！！！！'" tabindex="-1" id="blur" class="btn btn-primary">blur</a>

            <ngm-modal [modal]="modal4">
                123123123
            </ngm-modal>

            <ngm-modal [modal]="modal3">
                <button type="button" class="btn btn-primary" (click)="modal4.trigger()">
                    trigger4
                </button>
            </ngm-modal>

            <ngm-modal [modal]="modal2">
                <button type="button" class="btn btn-primary" (click)="modal3.trigger()">
                    trigger3
                </button>
            </ngm-modal>


            <ngm-modal [modal]="modal1">
                <button type="button" class="btn btn-primary" (click)="modal2.trigger()">
                    trigger2
                </button>
            </ngm-modal>

            <ngm-modal [modal]="modal">
                <!--<button type="button" class="btn btn-primary" (click)="modal1.trigger()">
                    trigger1
                </button>-->
                <ul class="list-group">
                    <li class="list-group-item list-group-item-danger flex-column align-items-start disabled">Cras justo odio</li>
                    <li class="list-group-item list-group-item-action flex-column align-items-start">Dapibus ac facilisis in</li>
                    <li class="list-group-item list-group-item-action flex-column align-items-start">Morbi leo risus</li>
                    <li class="list-group-item list-group-item-action flex-column align-items-start">Porta ac consectetur ac</li>
                    <li class="list-group-item list-group-item-action flex-column align-items-start">Vestibulum at eros</li>
                </ul>
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">List group item heading</h5>
                            <small>3 days ago</small>
                        </div>
                        <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                        <small>Donec id elit non mi porta.</small>
                    </a>
                    <a href="#" class="list-group-item list-group-item-danger flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">List group item heading</h5>
                            <small class="text-muted">3 days ago</small>
                        </div>
                        <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                        <small class="text-muted">Donec id elit non mi porta.</small>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">List group item heading</h5>
                            <small class="text-muted">3 days ago</small>
                        </div>
                        <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                        <small class="text-muted">Donec id elit non mi porta.</small>
                    </a>
                </div>
            </ngm-modal>
        </div>
    </div>
</div>
