<button type="button" class="btn-link" (click)="!!doNavigate(navigation.PREV)" [disabled]="prevDisabled()">
    <span class="ngb-dp-navigation-chevron"></span>
</button>

<ngb-datepicker-navigation-select *ngIf="showSelect" class="d-block" [style.width.rem]="months * 9"
                                  [date]="date"
                                  [minDate]="minDate"
                                  [maxDate]="maxDate"
                                  [disabled]="disabled"
                                  (select)="selectDate($event)">
</ngb-datepicker-navigation-select>

<button type="button" class="btn-link" (click)="!!doNavigate(navigation.NEXT)" [disabled]="nextDisabled()">
    <span class="ngb-dp-navigation-chevron right"></span>
</button>
