<p ref="" [@fadeInOut]="in" (@fadeInOut.done)="animationDone($event)" (@fadeInOut.start)="animationStarted($event)">
    1. 从前有个女孩，我很喜欢她，我也想娶她当老婆，我为她从四川一个人跑到上海这个学校。 现在她有着她喜欢的人，我不想打扰。 因为2014年的那个夏天毕业我对她说等我五年，五年后给我一个向她求婚的机会。 现在的我们如同陌生人，我想告诉你们的不是我有多爱多爱她。
    我只是想说我还在等着那个机会。 2. 闹钟没响就醒来了； 9.43分：把打包的行李和室友抬到快递处； 10.11分：带着我的背包，2号床与4号床的室友一起送我上了551路公交车； 10.25分：车子缓缓离开了校门口，透过车子后窗看见他们两个越来越远；
    12.30分：火车缓缓离开了我所在大学的城市。 ——别了，我的四年时光，别了，我的兄弟们 3. 我记得初中的操场，记得操场上的风，记得操场上奔跑的同学，记得那个年龄的味道，但是也只是记得了。 我终于完成五杀。 转过身宿舍却已空空如也。
    4. 那天下午天气很热，夕阳透过老旧玻璃窗躺在我的书桌上。 我们坐在教室里自习，很安静，安静到只剩下头顶的风扇发出嗡嗡的声音。 前面的女生回过头来递过一半的耳机让我听这首歌。 那时候仿佛时间都停止了一般，眼前的一切都仿佛走得很慢很慢。
    毕业两年了，你们还好吗？ 5. 你或许永远都不明白，为什么毕业的那天不愿和你拥抱。 你永远不会知道那时的我眼泪都快要掉下来了，脸上却在笑着和你开玩笑说我只和女生拥抱啦。 看你离去的背影。 我真的好想大哭一场，不想和你说再见啊。 可是命运就是如此，你有你的幸福，我又能如何呢。
    原谅我吧，我只是太爱你了，不想打扰你的幸福。 6. 数学老师写下一句话，“我爱你”，要求改成逆否命题。 我们都说，“你不爱我” “不是的”老师说。 他先把它变成了这种形式，“如果有一个人是我，那么这个人爱你。” 老师接着开始改逆否命题了。
    最后一刻，他停笔的瞬间，教室很安静。 “如果一个人不爱你，那么，这个人，不是我” 7. 我们早已改变，但在各自记忆中仍是最初的模样。 第一次听是高一的一个午后，那时，花正好，人正年少。 窗外的知了不知愁为何物，窗外的那些人那些景对我们仍有不可抗拒的吸引力。
    那时的我还在题海苦苦挣扎，忽而脑中灵光一现偶然抬头，粲然一笑之际发现了它，仍记得那种享受的表情。 不过都过去了。再见。
</p>
