<nav class="navbar navbar-toggleable-md navbar-light bg-info">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <img class="navbar-brand" width="85" src="../../assets/img/logo.png">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" routerLink="/" routerLinkActive="active">
                <a class="nav-link" href="javascript:void 0">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item" routerLink="/login" routerLinkActive="active">
                <a class="nav-link" href="javascript:void 0">Login <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item" routerLink="/line" routerLinkActive="active">
                <a class="nav-link" href="javascript:void 0">Line <span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <div class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search">
            <img src="../../assets/img/touxiang.jpg" class="rounded-circle ml-3" width="35" [src]="user.url" *ngIf="user.url;else touxiang">
            <ng-template #touxiang>
                <img src="../../assets/img/touxiang.jpg" class="rounded-circle ml-3" width="35">
            </ng-template>
        </div>
    </div>
</nav>

<div class="container mt-4">
    <div class="row">






        <div class="col-3">
            <div class="card">
                <img class="card-img-top" src="../../assets/img/top.svg">
                <div class="card-block">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="body col-6">
            <div class="body-data">
                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                    <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Username">
                    <div class="input-group-addon">@</div>
                </div>
            </div>
            <div class="body-data" *ngFor="let line of lineList;index as index;count as count">
                <div class="media">
                    <img [src]="line.user.url" class="d-flex align-self-start mr-3 rounded-circle" width="55">
                    <div class="media-body">
                        <small class="float-right">{{line.createDate}}</small>
                        <h5 class="mt-0">
                            <span class="data-title" (click)="go(line.id,line.lineId)">{{line.title}}</span>
                        </h5>
                        <p>{{line.introduce}}</p>
                        <p class="p-0 m-0 text-right">
                            <span (click)="addPraised(line)" class="badge badge-success" [ngClass]="{'badge-default':!line.isPraised,'badge-success':line.isPraised}">点&nbsp;赞 {{line.praised}}</span>
                            <span class="badge badge-primary">评&nbsp;论 {{line.review}}</span>
                            <span class="badge badge-info" [ngClass]="{'badge-default':!line.isForward,'badge-info':line.isForward}">分&nbsp;享 {{line.forward}}</span>
                        </p>

                        <ul class="list-unstyled" *ngFor="let b of line.branch">
                            <li class="media">
                                <img [src]="line.user.url" class="rounded-circle d-flex mr-3" width="35">
                                <div class="media-body">
                                    <h5 class="mt-0 mb-1">{{line.user.nickName}}</h5>
                                    <p>{{b.introduce}}</p>
                                    <div data-grid="images">
                                        <div *ngFor="let img of b.imgs">
                                            <img [src]="img.url" [attr.data-width]="img.width" [attr.data-height]="img.height" data-action="zoom">
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card">
                <img class="card-img-top" src="../../assets/img/top.svg">
                <div class="card-block">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</div>
