<div class="row">
    <div class="col-12">
        <button class="btn btn-secondary" (click)="back()">返&nbsp;回</button>
    </div>
</div>
<div class="card">
    <!--<img class="card-img-top" src="">-->
    <div class="card-block">
        <h4 class="card-title">{{line.title}}</h4>
        <p class="card-text">{{line.introduce}}</p>
        <span class="badge badge-pill badge-default">点&nbsp;赞</span>
        <span class="badge badge-pill badge-primary">评&nbsp;论</span>
        <span class="badge badge-pill badge-success">分&nbsp;享</span>
    </div>
</div>
