<div class="row">
    <div class="col-12">
        <button class="btn btn-secondary" (click)="back()">返&nbsp;回</button>
        <button *ngIf="lineSendId != 0" class="btn btn-secondary" (click)="delete()">删&nbsp;除</button>
    </div>
</div>
<div class="card" *ngIf="lineId != 0">
    <img class="card-img-top" [src]>
    <div class="card-block">
        <h4 class="card-title">{{line.title}}</h4>
        <p class="card-text">{{line.introduce}}</p>
        <a class="badge badge-pill" [ngClass]="{'badge-default':!line.isPraised,'badge-success':line.isPraised}" (click)="addPraised(line.id)">点&nbsp;赞 {{line.praised}}</a>
        <a class="badge badge-pill badge-primary">评&nbsp;论 {{line.review}}</a>
        <a class="badge badge-pill" [ngClass]="{'badge-default':!line.isForward,'badge-success':line.isForward}">分&nbsp;享 {{line.forward}}</a>
        <a class="badge badge-pill" data-toggle="modal" data-target="#line_forward">分&nbsp;享</a>
    </div>
</div>

<div class="card" *ngIf="lineSendId != 0">
    <img class="card-img-top" [src]>
    <div class="card-block">
        <h4 class="card-title">{{lineSend.context}}</h4>

        <div class="card">
            <img class="card-img-top" [src]>
            <div class="card-block">
                <h4 class="card-title">{{line.title}}</h4>
                <p class="card-text">{{line.introduce}}</p>
                <a class="badge badge-pill" [ngClass]="{'badge-default':!line.isPraised,'badge-success':line.isPraised}" (click)="addPraised(line.id)">点&nbsp;赞 {{line.praised}}</a>
                <a class="badge badge-pill badge-primary">评&nbsp;论 {{line.review}}</a>
                <a class="badge badge-pill" [ngClass]="{'badge-default':!line.isForward,'badge-success':line.isForward}">分&nbsp;享 {{line.forward}}</a>
                <a class="badge badge-pill" data-toggle="modal" data-target="#line_forward">分&nbsp;享</a>
            </div>
        </div>

        <p class="card-text">{{lineSend.introduce}}</p>
        <a class="badge badge-pill" [ngClass]="{'badge-default':!lineSend.isPraised,'badge-success':lineSend.isPraised}" (click)="addPraisedSendLine(lineSend.id)">点&nbsp;赞 {{lineSend.praised}}</a>
        <a class="badge badge-pill badge-primary">评&nbsp;论 {{lineSend.review}}</a>
        <a class="badge badge-pill" [ngClass]="{'badge-default':!lineSend.isForward,'badge-success':lineSend.isForward}">分&nbsp;享 {{lineSend.forward}}</a>
        <a class="badge badge-pill" data-toggle="modal" data-target="#line_forward">分&nbsp;享</a>
    </div>
</div>


<div class="row">
    <div class="col-12">
        <textarea class="form-control" [(ngModel)]="comment.context" placeholder="评论"></textarea>
    </div>
    <div class="col-12">
        <button class="btn btn-secondary" (click)="publicReview()">提&nbsp;交</button>
    </div>
</div>

<ul class="list-group">
    <li *ngFor="let comment of commentList;index as i" class="list-group-item justify-content-between">
        <div class="col-3">
            <img width="60" height="60" [src]="comment.user.url" class="img-thumbnail">
            <p>
                <span>{{comment.user.nickName}}</span>
                <span>{{comment.user.user}}</span>
            </p>
            <p>
                <span>{{comment.createDate | date:"yyyy-MM-dd"}}</span>
                <span>{{comment.createDate | date:"HH:mm:ss"}}</span>
            </p>
        </div>
        <div class="col-6">
            {{comment.context}}
        </div>
        <div class="col-3">
            <a class="badge badge-pill" [ngClass]="{'badge-default':!comment.isPraised,'badge-success':comment.isPraised}" (click)="addPraisedComment(comment)">点&nbsp;赞 {{comment.praised}}</a>
            <a class="badge badge-pill badge-primary" data-toggle="modal" data-target="#line_reply" (click)="userToId = comment.userId; commentId = comment.id">回&nbsp;复{{comment.review}}</a>
            <!--<a class="badge badge-pill" [ngClass]="{'badge-default':!comment.isForward,'badge-success':comment.isForward}" (click)="addForwardComment(comment)">分&nbsp;享 {{comment.forward}}</a>-->
        </div>
        <span *ngIf="comment.review != 0" class="badge badge-pill badge-default" (click)="watchReview(comment.id,i)">显示{{comment.review}}回复</span>

        <ul class="list-group" class="col-12">
            <li *ngFor="let re of comment.replies?.list" class="list-group-item justify-content-between">
                <div class="col-3">

                </div>
                <div class="col-6">
                    {{re.context}}
                </div>
                <div class="col-3">
                    <a class="badge badge-pill" [ngClass]="{'badge-default':!re.isPraised,'badge-success':re.isPraised}" (click)="addPraisendReply(re)">点&nbsp;赞 {{re.praised}}</a>
                </div>
            </li>
        </ul>

    </li>
</ul>

<div class="modal fade" id="line_forward" tabindex="-1" role="dialog" aria-labelledby="line_forward_title" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="line_forward_title">内容转发</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <label class="col-2 col-form-label">内容</label>
                    <div class="col-10">
                        <textarea name="context" [(ngModel)]="context" class="form-control"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="addForward()">转发</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="line_reply" tabindex="-1" role="dialog" aria-labelledby="line_forward_title" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="line_forward_title">内容回复</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <label class="col-2 col-form-label">内容</label>
                    <div class="col-10">
                        <textarea name="context" [(ngModel)]="replyContext" class="form-control"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="addReply()">确认</button>
            </div>
        </div>
    </div>
</div>
