.container {
    padding-top: 10px;
}

[hide]{
    display: none;
}

pre{
    font-family: initial;
    white-space: pre-line;
}

// body {
//     user-select: none;
//     -webkit-user-select: none;
//     -moz-user-select: none;
// }


