<div class="header">
    <div class="header-cx">
        <div class="cx-menu">
            <div class="cx-icon">
                <svg width="24px" height="24px" viewBox="0 0 48 48">
                    <path d="M6 36h36v-4H6v4zm0-10h36v-4H6v4zm0-14v4h36v-4H6z"></path>
                </svg>
            </div>
        </div>
        <div class="cx-title">
            1
        </div>
        <div class="cx-buttons">
            <span class="cx-icon">login</span>
            <span class="cx-icon">index</span>
            <span class="cx-icon">home</span>
        </div>
    </div>
</div>

<div class="menu">
    <div class="menu-content">
        <div class="menu-body">
            <div class="menu-group">
                <a class="menu-item">
                    <div class="menu-icon">
                        <svg width="24px" height="24px" viewBox="0 0 48 48" class="icon-svg"><path d="M20 40V28h8v12h10V24h6L24 6 4 24h6v16z"></path></svg>
                    </div>
                    <div class="menu-text">首页</div>
                </a>
                <a class="menu-item">
                    <div class="menu-icon">
                        <svg width="24px" height="24px" viewBox="0 0 48 48" class="icon-svg"><path d="M24 21.17l-9.41-9.41 6.58-6.58c1.56-1.56 4.1-1.56 5.66 0l6.58 6.58L24 21.17zm-9.41 15.07l6.58 6.58c1.56 1.56 4.1 1.56 5.66 0l6.58-6.58L24 26.83l-9.41 9.41zm-2.83-21.65l-6.58 6.58c-1.56 1.56-1.56 4.1 0 5.66l6.58 6.58L21.17 24l-9.41-9.41zm31.07 6.58l-6.58-6.58L26.83 24l9.41 9.41 6.58-6.58c1.57-1.56 1.57-4.1.01-5.66z"></path></svg>
                    </div>
                    <div class="menu-text">收藏集</div>
                </a>
                <a class="menu-item">
                    <div class="menu-icon">
                        <svg width="24px" height="24px" viewBox="0 0 48 48" class="icon-svg"><path d="M18 24c-2.21 0-4 1.79-4 4s1.79 4 4 4 4-1.79 4-4-1.79-4-4-4zm10-6c0-2.21-1.79-4-4-4s-4 1.79-4 4 1.79 4 4 4 4-1.79 4-4zM24 4C12.95 4 4 12.95 4 24s8.95 20 20 20 20-8.95 20-20S35.05 4 24 4zm0 36c-8.84 0-16-7.16-16-16S15.16 8 24 8s16 7.16 16 16-7.16 16-16 16zm6-16c-2.21 0-4 1.79-4 4s1.79 4 4 4 4-1.79 4-4-1.79-4-4-4z"></path></svg>
                    </div>
                    <div class="menu-text">社群</div>
                </a>
                <a class="menu-item">
                    <div class="menu-icon">
                        <svg width="24px" height="24px" viewBox="0 0 24 24" class="icon-svg"><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 3c1.66 0 3 1.34 3 3s-1.34 3-3 3-3-1.34-3-3 1.34-3 3-3zm0 14.2c-2.5 0-4.71-1.28-6-3.22.03-1.99 4-3.08 6-3.08 1.99 0 5.97 1.09 6 3.08-1.29 1.94-3.5 3.22-6 3.22z"></path></svg>
                    </div>
                    <div class="menu-text">个人资料</div>
                </a>
                <a class="menu-item">
                    <div class="menu-icon">
                        <svg width="24px" height="24px" viewBox="0 0 24 24" class="icon-svg"><path d="M16 11c1.66 0 2.99-1.34 2.99-3S17.66 5 16 5c-1.66 0-3 1.34-3 3s1.34 3 3 3zm-8 0c1.66 0 2.99-1.34 2.99-3S9.66 5 8 5C6.34 5 5 6.34 5 8s1.34 3 3 3zm0 2c-2.33 0-7 1.17-7 3.5V19h14v-2.5c0-2.33-4.67-3.5-7-3.5zm8 0c-.29 0-.62.02-.97.05 1.16.84 1.97 1.97 1.97 3.45V19h6v-2.5c0-2.33-4.67-3.5-7-3.5z"></path></svg>
                    </div>
                    <div class="menu-text">人脉</div>
                </a>
                <a class="menu-item">
                    <div class="menu-icon">
                        <svg width="24px" height="24px" viewBox="0 0 24 24" class="icon-svg"><path d="M19.43 12.98c.04-.32.07-.64.07-.98s-.03-.66-.07-.98l2.11-1.65c.19-.15.24-.42.12-.64l-2-3.46c-.12-.22-.39-.3-.61-.22l-2.49 1c-.52-.4-1.08-.73-1.69-.98l-.38-2.65C14.46 2.18 14.25 2 14 2h-4c-.25 0-.46.18-.49.42l-.38 2.65c-.61.25-1.17.59-1.69.98l-2.49-1c-.23-.09-.49 0-.61.22l-2 3.46c-.13.22-.07.49.12.64l2.11 1.65c-.04.32-.07.65-.07.98s.03.66.07.98l-2.11 1.65c-.19.15-.24.42-.12.64l2 3.46c.12.22.39.3.61.22l2.49-1c.52.4 1.08.73 1.69.98l.38 2.65c.03.24.24.42.49.42h4c.25 0 .46-.18.49-.42l.38-2.65c.61-.25 1.17-.59 1.69-.98l2.49 1c.23.09.49 0 .61-.22l2-3.46c.12-.22.07-.49-.12-.64l-2.11-1.65zM12 15.5c-1.93 0-3.5-1.57-3.5-3.5s1.57-3.5 3.5-3.5 3.5 1.57 3.5 3.5-1.57 3.5-3.5 3.5z"></path></svg>
                    </div>
                    <div class="menu-text">设置</div>
                </a>
            </div>
            <a class="menu-item">
                <div class="menu-icon">
                    <svg width="24px" height="24px" viewBox="0 0 24 24" class="icon-svg"><path d="M20 2H4c-1.1 0-1.99.9-1.99 2L2 22l4-4h14c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2zm-7 12h-2v-2h2v2zm0-4h-2V6h2v4z"></path></svg>
                </div>
                <div class="menu-text">发送反馈</div>
            </a>
        </div>
        <div class="menu-footer">

        </div>
    </div>
</div>

<div class="context">
    <div class="context-top-height"></div>
    <div>
        <ngm-paging [(ngModel)]="page" (goPage)="go()"></ngm-paging>
    </div>
</div>
